.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}
.product-form {
  min-width: 400px;
  width: 100%;
  max-width: 800px;
}
.item-image {
  overflow: hidden;
}
.product-list {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}
